.calendar-container {
    display: flex;
    align-items: flex-start;
    max-width: 1200px;
    margin: 40px auto;
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    font-family: Arial, sans-serif;
}

#miniCalendarContainer {
    width: 300px;
    margin-right: 20px;
    color: black;
}

#calendar {
    flex: 1;
}

.fc-toolbar-title {
    color: #333;
}

.fc-timegrid-axis-cushion {
    background-color: #f0f0f0;
}

#createEventForm {
    background: #fff;
    color: black;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

#title, #description, #start_date, #student_type {
    margin-bottom: 15px;
}

.create-event-button {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 100%;
    text-align: center;
}

.create-event-button:hover {
    background-color: #0056b3;
}

.fc-daygrid-day:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 255, 0.1);
}

/* Success Toast */
.toast-body {
    font-size: 16px;
}

