

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.table-container {
    background: #ffffff;
    border-radius: 8px;
    overflow-x: auto;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.evaluation-table, .modal-table {
    width: 100%;
    border-collapse: collapse;
}
.evaluation-table th, .evaluation-table td,
.modal-table th, .modal-table td {
    padding: 10px;
    border: 1px solid #ddd;
}
.evaluation-table th, .modal-table th {
    background: #f4f4f4;
    color: black;
}
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 600px;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}


.close-button {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
}
.close-button:hover {
    color: #ff0000;
}

.rating-scale-container {
    position: relative;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 90px;
}

.modal-button.skills-button {
    border: 1px solid #4CAF50; /* Green border for Skills */
    color: black; /* Green text for Skills */
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-right: 20px; /* Add spacing between buttons */
}

.modal-button.skills-button:hover {
    background-color: #4CAF50; /* Green background on hover */
    color: white; /* White text on hover */
}

.modal-button.facilities-button {
    border: 1px solid brown; /* Orange border for Facilities */
    color: black; /* Orange text for Facilities */
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.modal-button.facilities-button:hover {
    background-color: brown; /* Orange background on hover */
    color: white; /* White text on hover */
}


.rating-scale-container .print-button {
    position: absolute;
    top: 20px;
    right: 80px;
    border: 1px solid #3b82f6;
    color: #000000;  
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease; 
}

.rating-scale-container .print-button:hover {
    background-color: #3b82f6;
    color: white;
}

.no-history-message {
    text-align: center;
    padding: 20px;
    font-size: 18px;
    color: #555;
}

.no-history-message h3 {
    font-size: 24px;
    font-weight: bold;
}
