.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}
.table-container {
    background: #ffffff;
    border-radius: 8px;
    overflow-x: auto;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.evaluation-table, .modal-table {
    width: 100%;
    border-collapse: collapse;
}
.evaluation-table th, .evaluation-table td,
.modal-table th, .modal-table td {
    padding: 10px;
    border: 1px solid #ddd;
}
.evaluation-table th, .modal-table th {
    background: #f4f4f4;
    color: black;
}
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 600px;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}
.close-button {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
}
.close-button:hover {
    color: #ff0000;
}
.modal-button {
    background: rgb(0, 103, 247);
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}
.modal-button:hover {
    background: rgb(15, 3, 189);
}

.rating-scale-container {
    position: relative;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 90px;
}

.rating-scale-container .print-button {
    position: absolute;
    top: 20px;
    right: 80px;
    background: rgb(0, 103, 247);
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.rating-scale-container .print-button:hover {
    background: rgb(15, 3, 189);
}

.no-history-message {
    text-align: center;
    padding: 20px;
    font-size: 18px;
    color: #555;
}

.no-history-message h3 {
    font-size: 24px;
    font-weight: bold;
}

@media print {
    button {
        display: none;
    }
    .modal {
        display: none;
    }
    .container {
        max-width: 100%;
        margin: 0;
        padding: 10px;
    }
}

