.form-input {
    padding: 10px;
    border: 1px solid #e5e7eb;
    transition: border-color 0.3s ease-in-out;
    width: 80%;
}

.form-input:focus {
    outline: none;
    border-color: #3b82f6;
    box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.4);
}

.alert {
    border-radius: 0.375rem;
    padding: 1rem;
    color: #b91c1c;
    background-color: #fee2e2;
}

